langchain-core
langchain==0.3.27
langchain-community==0.3.17
langchain-ollama==0.3.6
langchain-qdrant 
langchain-huggingface
langchain_chroma
qdrant-client==1.15.1
chromadb
pypdf
pytest
unstructured
python-docx
markdown
flask>=3.0
flask-socketio>=5.3
python-socketio>=5.11
python-engineio>=4.9
fastembed 
sentence_transformers
einops
pdfminer.six