langchain==0.3.27
langchain-community==0.3.17
langchain-ollama==0.3.6
langchain-qdrant 
langchain-huggingface
langchain_chroma
qdrant-client==1.15.1
chromadb
pypdf
pytest
unstructured
python-docx
markdown
markdown2
flask
Flask-SocketIO
eventlet
fastembed 
sentence_transformers
einops