<!doctype html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Hello from Flask</title>

<div class="columns is-mobile is-centered" style="height: 100vh;">
  <div class="column is-half is-flex is-flex-direction-column">
    <div id="chat" class="block">
      <!-- messages -->
    </div>
    <form id="f" class="mt-2">
      <div id="chat-prompt-wrapper" class="control is-medium">
        <input id="chat-prompt" class="input is-medium" placeholder="Chat here..." />
      </div>
      <input type="submit" hidden />
    </form>
  </div>
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>
<script>
  const s = io({
    transports: ['websocket'],   
    upgrade: false,              
  });
  const chat = document.getElementById('chat');
  const chatPrompt = document.getElementById('chat-prompt');
  const chatPromptWrapper = document.getElementById('chat-prompt-wrapper');

  function add(text) {
    const d = document.createElement('div');
    d.innerHTML = text;
    d.setAttribute('class', 'box is-shadowless');
    chat.appendChild(d);
    chat.scrollTop = chat.scrollHeight;
  }

  function toogleLoading(isLoading) {
    if (isLoading) {
      chatPrompt.setAttribute('disabled', 'true');
      chatPromptWrapper.classList.add('is-loading');
    } else {
      chatPrompt.removeAttribute('disabled');
      chatPromptWrapper.classList.remove('is-loading');
      chatPrompt.focus();
    }
  }

  s.on('message', payload => add(payload));
  s.on('loading', payload => toogleLoading(payload));

  document.getElementById('f').addEventListener('submit', e => {
    e.preventDefault();
    const msg = document.getElementById('chat-prompt').value.trim();
    if (!msg) return;
    s.emit('send', { text: msg });
    document.getElementById('chat-prompt').value = '';
  });
</script>